.header {
    width: 100%;
    height: 70px;
    background-color: rgb(142, 142, 210);
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 25px 10px;
    color: white;
    font-weight: bold;
}